<html xmlns:th="http://www.thymeleaf.org">
<body>

<form action="/registers">
	Enter your first name
	<input type="text" name="firstname" placeholder="first name">
	<br>
	Enter your last Name
	<input type="text" name="lastname" placeholder="last name"><br>
	Enter your email
	<input type="email" name="email"><br>
	Enter your phone number
	<input type="tel" name="phone number"><br>
	Enter a password
	<input type="password" name="pass" placeholder="enter password"><br>
	<input type="submit" value="register"><br>
	

</form>
</body>
</html>